.margin-top-10 { margin-top: 10px; }
.margin-top-20 { margin-top: 20px; }
.margin-top-30 { margin-top: 30px; }
.margin-top-40 { margin-top: 40px; }

.margin-bottom-10 { margin-bottom: 10px; }
.margin-bottom-20 { margin-bottom: 20px; }
.margin-bottom-30 { margin-bottom: 30px; }
.margin-bottom-40 { margin-bottom: 40px; }

.padding-bottom-10{ padding-bottom: 10px; }

.padding-top-10{ padding-top: 10px; }

.border-bottom{ border-bottom: 1px solid #ddd; }

.border-top{ border-top: 1px solid #ddd; }

.activity {
    border-bottom: 1px solid #ddd;
    margin-bottom: 3px;
}

.border-green{ border-bottom: 4px solid #009933; }

.white-link{ color: #fff; }
.white-link:hover{
    color: #DDDDDD;
    text-decoration: none;
}

.line{
    height: 1px;

    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(left,  #ffffff 0%, #898989 45%, #898989 55%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(45%,#898989), color-stop(55%,#898989), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #ffffff 0%,#898989 45%,#898989 55%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #ffffff 0%,#898989 45%,#898989 55%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #ffffff 0%,#898989 45%,#898989 55%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to right,  #ffffff 0%,#898989 45%,#898989 55%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */


}